.min-piechart-container {
    height: 150px !important;
    width: 150px !important;
}

.account-item-alert {
	color: #C0392B !important;
}

.account-item-warning {
	color: #FFCC33 !important;
}

.account-item-good {
	color: #145A32 !important;
}